


@media screen and (max-width: 650px) {
  .wrapper {
  padding: 2em 1em;
  background: #fff;
  columns: 100px 1;
  column-gap: 32px;
  @media (min-width: 600px) {
    padding: 1em calc(50% - 250px);
  }
}
}

.price:before {
  
  font-size:17px;
  font-weight:100;
}


@media screen and (min-width: 651px) {
  .wrapper {
  padding: 2em 1em;
  background: #fff;
  columns: 100px 2;
  column-gap: 32px;
  @media (min-width: 600px) {
    padding: 1em calc(50% - 300px);
  }
}
}

.item {
  border-bottom: 1px dotted #c5c5c5;
  break-inside: avoid;
  display: flex;
  justify-content: space-between;
}
.span {
  font-family: "Teko", sans-serif;
  margin-bottom: -4px;
  background: #fff;
  padding: 4px;
  color: #555;
}
.list-title {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  color: #e67437;
  margin-bottom: 32px;
}
.list {
  margin-bottom: 32px;
}

